/* INDEX */
/* header */
/* main */
/* promo */
/* bonus */
/* popular */
/* about */
/* blog */
/* subscribe */
/* delivery */
/* contacts */
/* footer */
/* buttons */
/* form */
/* social-list */
/* modal */

/* CATALOG */
/* breadcrumbs */
/* filter-form */
/* products */
/* pagination */

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  background-color: #FEAFC3;
  color: #2D3440;
  margin: 0;
}

/* header */

.page__container {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.main-nav {
  display: flex;
}

.logo {
  padding-right: 16px;
}

.site-nav,
.user-nav {
  line-height: 20px;
  padding-left: 0;
  max-width: 450px;
}

.site-nav__item,
.user-nav__item,
.catalog-nav-list{
  list-style: none;
}

.user-nav {
  margin-left: auto;
}

.site-nav__link,
.user-nav__link,
.catalog-nav-list__link {
  text-decoration: none;
  color: #2D3440;
}

.user-nav__link,
.cart__count,
.catalog-nav-list {
  font-size: 14px;
}

.user-nav__link--phone {
  font-size: 16px;
  font-weight: 700;
}

.personal-area-popup__header,
.cart-popup__header {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.cart__link {
  text-decoration: none;
  color: #2D3440;
}

.cart-popup {
  background-color: #FCFCFC;
}

.cart-popup__title {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #2D3440;
}

.cart-popup__weight {
  font-size: 14px;
  color: #B9B9B9;
}

.cart-popup__link {
  text-decoration: none;
}

.cart-popup__price {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.cart-popup__delete::after {
  content: "";
  background-image: url(../images/icons/cross.svg);
  display: block;
  width: 10px;
  height: 10px;
}

/* main */

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

}

/* promo */

.promo {
  display: flex;
  flex-direction: column;
}

.slider {
  display: flex;
}

.slider-description {
  width: 470px;
  padding-left: 70px;
}

.slider-description__list,
.slider-picture__list {
  list-style: none;
  padding-left: 0;
}

.slider-description__header {
  font-size: 36px;
  font-weight: 900;
  line-height: 46px;
}

.slider-description__description {
  font-size: 18px;
  line-height: 24px;
}

.slider-picture {
  width: 630px;
}

.slider-picture__button {
  display: block;
  text-decoration: none;
  color: #2D3440;
}

.slider-dots__link {
  display: block;
  width: 12px;
  height: 12px;
  background-color: #FCFCFC;
  opacity: 0.3;
  border-radius: 50%;
}

.slider-dots__link--current {
  opacity: 1;
}

.promo__bottom {
  display: flex;
  justify-content: space-between;
}

.slider-dots,
.social-list {
  list-style: none;
  padding-left: 0;
}

/* bonus */

.bonus {
  display: flex;
  flex-direction: column;
}

.bonus__wrapper {
  display: flex;
  gap: 30px;
}

.title {
  font-size: 32px;
  font-weight: 900;
  line-height: 46px;
  text-align: center;
}

.bonus-card {
  background-color: #FF7799;
}

.bonus-card__header {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

/* popular */

.popular {
  display: flex;
  flex-direction: column;
}

.popular__list {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.product-card {
  background-color: #FCFCFC;
  width: 270px;
}

.product-card__link {
  text-decoration: none;
  color: #2D3440;
}

.product-card__header,
.product-card__price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.product-card__button {
  background: #FF2F64;
  color: #FCFCFC;
}

/* about */

.about {
  display: block;
  background-image: url("../images/common/wafer-bg.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  padding: 24px;
  background-size: cover;
}

.about__wrapper {
  background-color: #fff;
}

.about__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 40px;
  padding-right: 40px;
}

.about__item {
  color: #565C66;
  width: 505px;
}

.about__item::before {
  content: "";
  display: block;
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: 2px solid #2D3440;
  border-radius: 50%;
  background-color: #ffffff;
}

.about__item--icecream::before {
  background-image: url("../images/icons/icecream.svg");
}

.about__item--leaf::before {
  background-image: url("../images/icons/leaf.svg");
}

.about__item--cow::before {
  background-image: url("../images/icons/cow.svg");
}

.about__item--thermometer::before {
  background-image: url("../images/icons/thermometer.svg");
}

/* blog */

.blog-subscribe__wrapper {
  display: flex;
  gap: 30px;
}

.blog {
  background-color: #fff;
  background-image: url("../images/common/serving-bg.jpg");
  background-repeat: no-repeat;
  background-position: top right;
  width: 570px;
}

.blog__header {
  line-height: 20px;
  color: #565C66;
}

.blog__link {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-decoration: none;
  color: #2D3440;
}

/* subscribe */

.subscribe {
  background-image: url("../images/common/post-bg.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  padding: 6px;
  width: 570px;
}

.subscribe__wrapper {
  background-color: #fff;
}

/* delivery */

.delivery {
  display: flex;
  justify-content: space-between;
  background-image: url("../images/common/delivery-bg.jpg");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
  padding: 64px;
}

.delivery__wrapper {
  width: 375px;
}

.delivery__title {
  text-align: left;
}

.delivery__form {
  width: 500px;
}

.delivery__description {
  color: #565C66;
}

/* contacts */

.contacts {
  background-image: url("../images/common/three-icecream.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  padding: 64px;
}

.contacts__wrapper {
  background-color: #FCFCFC;
  width: 434px;
  padding-left: 40px;
  padding-right: 53px;
}

.contacts__text {
  color: #565C66;
}

.contacts__address,
.contacts__phone {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  font-style: normal;
}

.contacts__phone {
  text-decoration: none;
  color: #2D3440;
}

.contacts__caption {
  font-size: 14px;
  line-height: 20px;
  color: #565C66;
}

/* footer */

.footer {
  display: flex;
}

.footer__social-list {
  margin-right: auto;
}

.footer-nav-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 356px;
  padding-left: 0;
}

.footer-nav-list__link {
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
}

.footer-nav-list__link--accent {
  font-weight: 700;
}

.footer-nav-list__link--accent::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("../images/icons/heart-fill.svg");
  background-repeat: no-repeat;
}

.copyright {
  margin-left: 200px;
}

.copyright__text {
  font-size: 14px;
  line-height: 20px;
}

.copyright__link {
  color: #2D3440;
}

/* buttons */

.button {
  font-family: inherit;
  font-weight: 700;
  line-height: 20px;
  font-size: inherit;
  text-decoration: none;
  border: none;
}

.button--primary {
  background-color: #FF2F64;
  color: #FCFCFC;
}

.button--secondary {
  color: #2D3440;
  background: #FCFCFC;
}

/* form */

.form {
  background-color: #FCFCFC;
}

.form__description {
  color: #565C66;
}

.form__input {
  font-family: inherit;
  font-size: inherit;
  line-height: 20px;
}

.form__input::placeholder {
  color: #B9B9B9;
  font-family: inherit;
  font-size: inherit;
}

.form__textarea {
  font-family: inherit;
  font-size: inherit;
  color: #2D3440;
}

.form__textarea::placeholder {
  color: #B9B9B9;
  font-family: inherit;
  font-size: inherit;
}

.form__label {
  font-weight: 700;
  line-height: 20px;
}

.form__button--search {
  color: #2D3440;
}

.form__link {
  font-size: 14px;
  color: #2D3440;
}

/* social-list */

.social-list__link {
  color: #2D3440;
}

.social-list__link--slider {
  color: #FCFCFC;
}

/* modal */

.modal {
  display: none;
}

/* CATALOG */

.main__header {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

/* breadcrumbs */

.breadcrumbs {
  display: flex;
  list-style: none;

}

.breadcrumbs__item::after {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background-image: url("../images/icons/chevrons.svg");
  background-repeat: no-repeat;
}

.breadcrumbs__item:last-child::after {
  background-image: none;
}

.breadcrumbs__link {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: #2D3440;
}

.breadcrumbs__link--current {
  text-decoration: underline;
}

/* filter-form */

.filter {
  font-size: 14px;
  line-height: 20px;
  display: flex;
  flex-wrap: wrap;
  width: 850px;
}

.filter-sort__list {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.filter__button {
  font-size: 14px;
  background: rgba(252, 252, 252, 0.3);
}

/* products */

.products__list {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.products__bottom {
  display: flex;
}

.products__more {
  margin-left: 50%;
  transform: translateX(-50%);
}

/* pagination */

.products__pagination {
  margin-left: auto;
}

.pagination__link {
  line-height: 20px;
  text-decoration: none;
  color: #2D3440;
}

.pagination__link--back {
  opacity: 0.3;
}

.pagination__link--forward {
  fill: #2D3440;
}

.pagination__link--current {
  background-color: #FCFCFC;
}
